<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <!-- dependent Class --> 
        
        <bean id="beanEngine" class="com.JavaHibernate.beans.Engine"></bean>
        
        
       <!--  Target Class -->
       
       <bean id="beanVehicle" class="com.JavaHibernate.beans.Vehicle"></bean>
       
       
        
 </beans>